/**
 * Copyright 2020 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/******************************************
 Tfvars for shared VPC
*****************************************/

environment_code = "npd"

env = "non-production"

default_region1 = "us-east1"

default_region2 = "us-west1"

domain = "staging.boaongcp.cloud."

nat_enabled = "true"

enable_hub_and_spoke = "true"

/******************************************
 Tfvars for shared VPC subnets
*****************************************/

subnets = [
  {
    subnet_name               = "mci-config-subnet"
    network_name              = "vpc-npd-shared-base"
    subnet_ip                 = "0.0.0.0/0"
    subnet_region             = "us-east1"
    subnet_flow_logs          = "true"
    subnet_private_access     = "true"
    subnet_flow_logs_metadata = "INCLUDE_ALL_METADATA"
  },
  {
    subnet_name               = "gke-cluster1-subnet"
    network_name              = "vpc-npd-shared-base"
    subnet_ip                 = "0.0.0.0/0"
    subnet_region             = "us-east1"
    subnet_flow_logs          = "true"
    subnet_private_access     = "true"
    subnet_flow_logs_metadata = "INCLUDE_ALL_METADATA"
  },
  {
    subnet_name               = "bastion-host-subnet"
    network_name              = "vpc-npd-shared-base"
    subnet_ip                 = "0.0.0.0/0"
    subnet_region             = "us-west1"
    subnet_flow_logs          = "true"
    subnet_private_access     = "true"
    subnet_flow_logs_metadata = "INCLUDE_ALL_METADATA"
  },
  {
    subnet_name               = "gke-cluster2-subnet"
    network_name              = "vpc-npd-shared-base"
    subnet_ip                 = "0.0.0.0/0"
    subnet_region             = "us-west1"
    subnet_flow_logs          = "true"
    subnet_private_access     = "true"
    subnet_flow_logs_metadata = "INCLUDE_ALL_METADATA"
  },
]

secondary_ranges = {
  mci-config-subnet = [
    {
      range_name    = "pod-ip-range"
      ip_cidr_range = "0.0.0.0/0"
    },
    {
      range_name    = "services-ip-range"
      ip_cidr_range = "0.0.0.0/0"
    }
  ]

  gke-cluster1-subnet = [
    {
      range_name    = "pod-ip-range"
      ip_cidr_range = "0.0.0.0/0"
    },
    {
      range_name    = "services-ip-range"
      ip_cidr_range = "0.0.0.0/0"
    }
  ]

  bastion-host-subnet = []

  gke-cluster2-subnet = [
    {
      range_name    = "pod-ip-range"
      ip_cidr_range = "0.0.0.0/0"
    },
    {
      range_name    = "services-ip-range"
      ip_cidr_range = "0.0.0.0/0"
    }
  ]
}

/******************************************
 Tfvars for VPC firewall rules
*****************************************/

boa_gke1_cluster_cidr = "0.0.0.0/0"

boa_gke2_cluster_cidr = "0.0.0.0/0"

boa_mci_cluster_cidr = "0.0.0.0/0"

/******************************************
 Tfvars for Cloud Armor
*****************************************/

policy_name = "cloud-armor-xss-policy"

policy_action = "deny(403)"

policy_priority = "1000"

policy_expression = "evaluatePreconfiguredExpr('xss-stable')"

policy_description = "Cloud Armor policy to prevent XSS attacks."

/******************************************
 Tfvars for private services access
*****************************************/

private_service_address_name = "cloud-sql-subnet-vpc-peering-internal"

/******************************************
 Tfvars for external IP
*****************************************/

address_name = "asm-static-ip"

address_type = "EXTERNAL"

description = "External IP address for HTTP load balancing on MCI subnet."

region = "us-central1"
